/* 

    Global CSS

*/
.app{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #f1f1f1;
    padding: 50px 0;
}
hr{
    border-top: none;
    border-bottom: 1px solid #ddd;
}
a{
    color: inherit;
    text-decoration: inherit;
}
.btn{
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.btn svg{
    font-size: 16px;
}
.btn:hover{
    opacity: .7;
}
.btn:disabled{
    opacity: .7;
    cursor: default;
}
.blue{
    background: var(--bg-py);
    color: #fff;
}
.red{
    background: crimson;
    color: #fff;
}

